@import url("public.css");
.main{
	margin:3% 10%;
	overflow: auto;
}
.content{
	padding: 10px;
	border: solid #27A9E3 3px;
	border-radius:10px;
	margin-bottom: 10px
}
.qtext{
	font-size:20px;
	line-height: 25px;
}
.option{
	margin-left: 30px;
}
pre{
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 40px;
	font-weight: bold;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.qtext>span{
	margin-right: -40px;
}

input[type=submit]{
	width: auto;
}