@import url("public.css");
body{
	background: url(../img/bg.jpg) no-repeat center top;
}

.main{
	max-width: 600px !important;
	margin-left: 10%;
	text-align: center;

}

.main>div{
	width:500px;
	margin:10px auto;
}
.tr{
	display: inline-block;
	width:100px;
	text-align:center;
	border: solid #ddc9bc 1px;
	border-radius: 100px;
	margin-right: 10px;
}
.td{
	display: inline-block;
	width:120px ;
	border: solid #ddc9bc 1px;
	border-radius: 50px;
}
.longtd{
	width:350px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 5px;
}

div.btn{
	margin: 20px 0;
}